| #{familyName} #{givenName} 様
| この度は、#{sellerName}のオンラインチケットサービスにてご購入頂き、誠にありがとうございます。お客様がご購入されましたチケットの情報は下記の通りです。
| 
| [注文日時]
| #{orderDate}
| 
| [注文番号]
| #{orderNumber}
| 
| [確認番号]
| #{confirmationNumber}
| 
| [イベント名]
| #{eventName}
| 
| [イベント日時]
| #{eventStartDate}
| 
| [場所]
| #{eventLocation}
| 
| [合計]
| ￥#{price}
| 
| [決済方法]
| #{paymentMethodName}